---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
---

<Layout title="Hacktoberfest 2023">
	<main>
		<Section class="hero">
			<header>
				<div>
					<img src="img/interledger-logo.svg" alt="Interledger" class="logo--interledger"/>
					<button>Get help on Slack</button>
				</div>
				<h1>Hacktoberfest 2023</h1>
				<img src="img/hacktober10.svg" alt="https://docs.astro.build/en/getting-started/" class="logo--hacktober" />
			</header>
		</Section>

		<Section class="padding--large align--center">
			<h2>About Hacktoberfest</h2>
			<p>
				Hacktoberfest is an annual event by DigitalOcean that promotes open source contributions throughout October. It aims to support and
				give back to open source projects that underpin much of today's tech infrastructure. Over the past decade, thousands of
				participants, both coders and non-coders, have joined to support their favorite projects, improve their skills, and connect with
				like-minded open source enthusiasts.
			</p>
		</Section>

		<Section>
			<div class="two-col">
				<div>
					<h2>Our Hacktoberfest Story</h2>
					<p>
						Here at Interledger, Hacktoberfest is something truly close to our hearts. It all started in 2022 when we ventured into our very
						first Hacktoberfest campaign. Even though it was our rookie year, the community rallied behind us with some incredible
						contributions. Those experiences have fueled our enthusiasm to return this year with an even more engaging mentorship program, a
						richer learning experience, and some seriously awesome rewards.
					</p>
				</div>
				<div class="two-col__img">
					<img src="img/hacktober10.svg" alt="Illustration of a laptop displaying the code for spinning up an Ethereum settlement engine" />
				</div>
			</div>
		</Section>

		<Section>
			<h2>Ways to Contribute</h2>
			<p>
				You can contribute to Interledger in various ways, and all accepted contributions come with the opportunity to earn Interledger Swag!
			</p>
			<div class="two-col">
				<div>
					<h3>Contribute to Open Issues</h3>
					<p>
							Explore our curated list of Hacktoberfest issues, ready for you to pick up. View Issues
					</p>
				</div>
				<div>
					<h3>Interledger Hacktoberfest Events</h3>
					<p>
							Organize or Join us for exciting Hacktoberfest events throughout the month.
					</p>
				</div>
			</div>
		</Section>

		<Section>
			<div class="two-col">
				<div class="two-col__img">
					<img src="img/mac.svg" alt="Illustration of a desktop displaying the code for spinning up a XRP settlement engine" />
				</div>
				<div>
					<h2>Stuck? We're Here to Help You</h2>
					<p>Whether you're a seasoned contributor or just starting out, our community is here to support you. Join us on GitHub and Slack to get assistance, collaborate with others, and make the most of your Hacktoberfest journey.</p>
					<p>We look forward to your contributions and celebrating open source together!</p>
					<p>Join us on <a href="https://join.slack.com/share/enQtNTg5NTExMTA4MDI1Ny0wZTUzMmY3YWRlMDUyZmZkZTFmMTZmN2E3ZTA3YjFmOTAwYTkwNjVmMGYwZjA1ZWUwZDI3MDM2OTA2MDI4NjE2" target="_blank">Slack</a></p>
				</div>
			</div>
		</Section>
	</main>
</Layout>

<style is:global>
	@media screen and (min-width: 480px) {
		.hero header {
			width: max-content;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.logo--interledger {
		width: 6em;
	}

	.logo--hacktober {
		margin-top: var(--space-s);
		width: 4em;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.hero p {
		display: inline-flex;
		align-items: center;
		gap: 0.25em;
	}

    .hero div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

	.two-col {
		display: grid;
		gap: var(--space-m);
		align-items: center;
	}

	@media screen and (max-width: 639px) {
		.two-col__img {
			text-align: center;
		}
	}
	
	@media screen and (min-width: 640px) {
		.two-col {
			grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		}
	}

	.padding--large {
		padding-top: var(--space-3xl);
		padding-bottom: var(--space-3xl);
	}

	.align--center {
		text-align: center;
	}
</style>
